<h1>ユーザーマイページダッシュボード(仮)</h1>

<%= link_to '会員情報', '#' %>
<ul>
  <li>詳細画面、　ユーザー名をクリック or 会員情報をボタンをつけて、その先でページを見せる</li>
</ul>
<br>
<%= link_to '購入リスト', '#' %>
<ul>
  <li>購入リストボタンを設置して、その先でページを見せる</li>
</ul>
<br>
<%= link_to 'ギフト一覧', '#' %>
<ul>
  <li>イメージ的には↓の感じ、bootstrap4のcard uiを使う。700*400が並んでいるイメージ</li>
  <li> <%= link_to '参考ページ', 'https://blackrockdigital.github.io/startbootstrap-shop-homepage/' %> </li>
</ul>
<br>
<%= link_to '誕生日カレンダー', '#' %>
<ul>
  <li>時間的に、月別の誕生日一覧とかを見せるかんじですかね。デフォルトは2月で(今日)</li>
</ul>
<br>
<%= link_to 'FAQ', '#' %>
<br>
<ul>
  <li>LPページに埋め込む or リンク</li>
</ul>
<br>
<%= link_to 'お問い合わせ', '#' %>
<br>
<ul>
  <li>LPページに埋め込む or リンク</li>
</ul>

